<?xml version="1.0" encoding="utf-8"?>
<Media Key="321eb7e1-78e5-48b5-a85f-fe7fbf1165cf" Alias="sitemap--localhost--xmlsitemap.xml" Level="2">
  <Info>
    <Parent Key="d6c05e9b-adcf-4b82-a173-1797e06f3fc4">Xml Sitemaps</Parent>
    <Path>/XmlSitemaps/sitemapLocalhostXmlsitemapxml</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-06-30T09:29:04</CreateDate>
    <NodeName Default="sitemap--localhost--xmlsitemap.xml" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/clpplewc/sitemap-localhost-xmlsitemap.xml]]></Value>
    </umbracoFile>
  </Properties>
</Media>