<?xml version="1.0" encoding="utf-8"?>
<Media Key="da602c15-0c91-4c48-80a7-54da777b766f" Alias="sitemap-index--localhost--xmlsitemap.xml" Level="2">
  <Info>
    <Parent Key="85fcd414-22e2-401e-8bf0-cbbbf784f5fe">Xml Sitemaps</Parent>
    <Path>/XmlSitemaps/sitemapIndexLocalhostXmlsitemapxml</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-05-15T06:27:47</CreateDate>
    <NodeName Default="sitemap-index--localhost--xmlsitemap.xml" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2zcjw4vw/sitemap-index-localhost-xmlsitemap.xml]]></Value>
    </umbracoFile>
  </Properties>
</Media>