<?xml version="1.0" encoding="utf-8"?>
<Media Key="e6b9d248-30cb-4692-ad33-645c09540343" Alias="sitemap--localhost--dummy-custom-sitemap.xml" Level="2">
  <Info>
    <Parent Key="85fcd414-22e2-401e-8bf0-cbbbf784f5fe">Xml Sitemaps</Parent>
    <Path>/XmlSitemaps/sitemapLocalhostDummyCustomSitemapxml</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-05-20T12:12:35</CreateDate>
    <NodeName Default="sitemap--localhost--dummy-custom-sitemap.xml" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xo3eerxm/sitemap-localhost-dummy-custom-sitemap.xml]]></Value>
    </umbracoFile>
  </Properties>
</Media>