<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b98d986-29fb-4fd0-892e-c4ec9ead1079" Alias="sitemap-index--localhost--xmlsitemapindex.xml" Level="2">
  <Info>
    <Parent Key="85fcd414-22e2-401e-8bf0-cbbbf784f5fe">Xml Sitemaps</Parent>
    <Path>/XmlSitemaps/sitemapIndexLocalhostXmlsitemapindexxml</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-05-20T15:01:01</CreateDate>
    <NodeName Default="sitemap-index--localhost--xmlsitemapindex.xml" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/owyhgk42/sitemap-index-localhost-xmlsitemapindex.xml]]></Value>
    </umbracoFile>
  </Properties>
</Media>