<?xml version="1.0" encoding="utf-8"?>
<Media Key="b5657c29-ab95-47fd-8d42-771dba2bffc0" Alias="sitemap-index--mixed-site-dev-localhost--xmlsitemapindex--202609010934057587850Z--2d43875480d04acfb3a5f852ca3f71db.xml" Level="2">
  <Info>
    <Parent Key="076747b9-6d33-4c38-a29e-04680b38917b">Xml Sitemaps</Parent>
    <Path>/XmlSitemaps/sitemapIndexMixedSiteDevLocalhostXmlsitemapindex202609010934057587850Z2d43875480d04acfb3a5f852ca3f71dbxml</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-09-01T09:34:05</CreateDate>
    <NodeName Default="sitemap-index--mixed-site-dev-localhost--xmlsitemapindex--202609010934057587850Z--2d43875480d04acfb3a5f852ca3f71db.xml" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1ikj2fns/sitemap-index-mixed-site-dev-localhost-xmlsitemapindex-202609010934057587850z-2d43875480d04acfb3a5f852ca3f71db.xml]]></Value>
    </umbracoFile>
  </Properties>
</Media>