<?xml version="1.0" encoding="utf-8"?>
<Content Key="a112219f-89ba-4839-a4fb-8597dee464dc" Alias="Alenestående 2" Level="4">
  <Info>
    <Parent Key="f445e8b5-471e-4fd9-b7cd-8ed63153a209">Sektion 2</Parent>
    <Path>/Site1/Omraade1/Sektion2/Alenestaaende2</Path>
    <Trashed>false</Trashed>
    <ContentType>textPage</ContentType>
    <CreateDate>2026-08-18T09:09:20</CreateDate>
    <NodeName Default="Alenestående 2">
      <Name Culture="da">Alenestående 2</Name>
      <Name Culture="en">Stand-alone 2</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template Key="512969e1-3368-48e5-a4c5-f70572068d9c">pageTemplate</Template>
  </Info>
  <Properties>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>