<?xml version="1.0" encoding="utf-8"?>
<Content Key="09e221ba-21ae-416b-a81a-27a5d6a8aab6" Alias="News page" Level="2">
  <Info>
    <Parent Key="68a23ff3-8e75-489a-b3b4-6d1b4bfab517">Home</Parent>
    <Path>/Home/NewsPage</Path>
    <Trashed>false</Trashed>
    <ContentType>newsPage</ContentType>
    <CreateDate>2026-05-11T12:00:06</CreateDate>
    <NodeName Default="News page">
      <Name Culture="da">Nyheds side</Name>
      <Name Culture="en">News page</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>