<?xml version="1.0" encoding="utf-8"?>
<Content Key="a9ba7832-e484-46e1-a8e4-67e193765de8" Alias="Subsite" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Subsite</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2026-05-11T15:07:57</CreateDate>
    <NodeName Default="Subsite">
      <Name Culture="da">Subsite</Name>
      <Name Culture="en">Subsite</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <test2>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </test2>
    <testString>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </testString>
  </Properties>
</Content>