<?xml version="1.0" encoding="utf-8"?>
<Content Key="77cf1419-c09b-43bd-b450-90df1afbd7b0" Alias="Text page 2" Level="2">
  <Info>
    <Parent Key="68a23ff3-8e75-489a-b3b4-6d1b4bfab517">Home</Parent>
    <Path>/Home/TextPage2</Path>
    <Trashed>false</Trashed>
    <ContentType>textPage</ContentType>
    <CreateDate>2026-06-10T09:38:49</CreateDate>
    <NodeName Default="Text page 2">
      <Name Culture="da">Tekst side (1)</Name>
      <Name Culture="en">Text page 2</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="da">false</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaRobots>
      <Value><![CDATA[1]]></Value>
    </metaRobots>
  </Properties>
</Content>