<?xml version="1.0" encoding="utf-8"?>
<Content Key="779ca4ca-9bf7-4d8c-9475-1dde81c93fa3" Alias="Text page" Level="2">
  <Info>
    <Parent Key="68a23ff3-8e75-489a-b3b4-6d1b4bfab517">Home</Parent>
    <Path>/Home/TextPage</Path>
    <Trashed>false</Trashed>
    <ContentType>textPage</ContentType>
    <CreateDate>2026-05-11T11:58:59</CreateDate>
    <NodeName Default="Text page">
      <Name Culture="da">Tekst side</Name>
      <Name Culture="en">Text page</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaRobots>
      <Value><![CDATA[1]]></Value>
    </metaRobots>
  </Properties>
</Content>