<?xml version="1.0" encoding="utf-8"?>
<Content Key="95e986b3-2331-4d8b-9c34-c2329dd1c53b" Alias="Text page 3" Level="2">
  <Info>
    <Parent Key="68a23ff3-8e75-489a-b3b4-6d1b4bfab517">Home</Parent>
    <Path>/Home/TextPage3</Path>
    <Trashed>false</Trashed>
    <ContentType>textPage</ContentType>
    <CreateDate>2026-06-10T09:39:19</CreateDate>
    <NodeName Default="Text page 3">
      <Name Culture="da">Tekst side (2)</Name>
      <Name Culture="en">Text page 3</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="da">false</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaRobots>
      <Value><![CDATA[1]]></Value>
    </metaRobots>
  </Properties>
</Content>