<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d77d5e6-c518-47c7-acd3-f2716319c777" Alias="Text Sub Page 2" Level="3">
  <Info>
    <Parent Key="4cf33d1e-30a2-456a-aa81-40e6509fab66">Text page</Parent>
    <Path>/Subsite/TextPage/TextSubPage2</Path>
    <Trashed>false</Trashed>
    <ContentType>textPage</ContentType>
    <CreateDate>2026-05-13T11:39:36</CreateDate>
    <NodeName Default="Text Sub Page 2">
      <Name Culture="da">Teskst under side 2</Name>
      <Name Culture="en">Text Sub Page 2</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>