<?xml version="1.0" encoding="utf-8"?>
<Content Key="fbe5f336-b4b6-444d-b46e-f708316393c3" Alias="Text Page" Level="2">
  <Info>
    <Parent Key="27ac37bc-a06e-4087-a861-75b9c39f836e">Home</Parent>
    <Path>/Home/TextPage</Path>
    <Trashed>false</Trashed>
    <ContentType>textPage</ContentType>
    <CreateDate>2026-07-31T19:44:24</CreateDate>
    <NodeName Default="Text Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="512969e1-3368-48e5-a4c5-f70572068d9c">pageTemplate</Template>
  </Info>
  <Properties>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>