<?xml version="1.0" encoding="utf-8"?>
<Media Key="80b6931d-ac4d-48a4-9b48-acda8c2236dd" Alias="sitemap--default--xmlsitemap-en.xml" Level="2">
  <Info>
    <Parent Key="85fcd414-22e2-401e-8bf0-cbbbf784f5fe">Xml Sitemaps</Parent>
    <Path>/XmlSitemaps/sitemapDefaultXmlsitemapEnxml</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-05-15T16:53:18</CreateDate>
    <NodeName Default="sitemap--default--xmlsitemap-en.xml" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/313f0idk/sitemap-default-xmlsitemap-en.xml]]></Value>
    </umbracoFile>
  </Properties>
</Media>