<?xml version="1.0" encoding="utf-8"?>
<Content Key="2cfe4a71-5db7-4766-a9b0-073c8050ac02" Alias="Hostsite" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Hostsite</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2026-05-13T07:19:10</CreateDate>
    <NodeName Default="Hostsite">
      <Name Culture="da">Hostsite</Name>
      <Name Culture="en">Hostsite</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <test2>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </test2>
    <testString>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </testString>
  </Properties>
</Content>