<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c93e084-3203-493d-a91d-717c8163790d" Alias="News page sub" Level="3">
  <Info>
    <Parent Key="a2034b09-0e0a-417c-9b49-a7792d90f3ae">News page</Parent>
    <Path>/Subsite/NewsPage/NewsPageSub</Path>
    <Trashed>false</Trashed>
    <ContentType>newsPage</ContentType>
    <CreateDate>2026-05-13T19:56:12</CreateDate>
    <NodeName Default="News page sub">
      <Name Culture="da">Nyheds under side</Name>
      <Name Culture="en">News page sub</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>