<?xml version="1.0" encoding="utf-8"?>
<Content Key="fa468103-ca54-4d23-be56-bc1571beb5e7" Alias="News page" Level="2">
  <Info>
    <Parent Key="2cfe4a71-5db7-4766-a9b0-073c8050ac02">Hostsite</Parent>
    <Path>/Hostsite/NewsPage</Path>
    <Trashed>false</Trashed>
    <ContentType>newsPage</ContentType>
    <CreateDate>2026-05-13T07:20:32</CreateDate>
    <NodeName Default="News page">
      <Name Culture="da">Nyheds side</Name>
      <Name Culture="en">News page</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>