<?xml version="1.0" encoding="utf-8"?>
<Content Key="dab91516-24d1-478f-83d5-0d9dd9c18053" Alias="Text Sub Page 1" Level="3">
  <Info>
    <Parent Key="4cf33d1e-30a2-456a-aa81-40e6509fab66">Text page</Parent>
    <Path>/Subsite/TextPage/TextSubPage1</Path>
    <Trashed>false</Trashed>
    <ContentType>textPage</ContentType>
    <CreateDate>2026-05-13T11:39:18</CreateDate>
    <NodeName Default="Text Sub Page 1">
      <Name Culture="da">Teskst under side 1</Name>
      <Name Culture="en">Text Sub Page 1</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>