<?xml version="1.0" encoding="utf-8"?>
<Content Key="18479b2b-95f8-4930-a0f6-ff505dd4e821" Alias="Text page" Level="2">
  <Info>
    <Parent Key="2cfe4a71-5db7-4766-a9b0-073c8050ac02">Hostsite</Parent>
    <Path>/Hostsite/TextPage</Path>
    <Trashed>false</Trashed>
    <ContentType>textPage</ContentType>
    <CreateDate>2026-05-13T07:20:12</CreateDate>
    <NodeName Default="Text page">
      <Name Culture="da">Tekst side</Name>
      <Name Culture="en">Text page</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>