<?xml version="1.0" encoding="utf-8"?>
<Content Key="c4e05668-965d-41fa-9776-e0ad00a847d9" Alias="text 2 en" Level="2">
  <Info>
    <Parent Key="68a23ff3-8e75-489a-b3b4-6d1b4bfab517">Home</Parent>
    <Path>/Home/text2En</Path>
    <Trashed>false</Trashed>
    <ContentType>textPage</ContentType>
    <CreateDate>2026-05-11T16:33:04</CreateDate>
    <NodeName Default="text 2 en">
      <Name Culture="da">text 2 en</Name>
      <Name Culture="en">text 2 en</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>