<?xml version="1.0" encoding="utf-8"?>
<Content Key="4cf33d1e-30a2-456a-aa81-40e6509fab66" Alias="Text page" Level="2">
  <Info>
    <Parent Key="a9ba7832-e484-46e1-a8e4-67e193765de8">Sub Home</Parent>
    <Path>/SubHome/TextPage</Path>
    <Trashed>false</Trashed>
    <ContentType>textPage</ContentType>
    <CreateDate>2026-05-11T15:07:58</CreateDate>
    <NodeName Default="Text page">
      <Name Culture="da">Tekst side</Name>
      <Name Culture="en">Text page</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>