<?xml version="1.0" encoding="utf-8"?>
<Media Key="842edca0-63fb-40a2-8d2c-2f96a465ef1b" Alias="sitemap--default--xmlsitemap.xml" Level="2">
  <Info>
    <Parent Key="480c83cc-2353-41d0-b420-ad06a9334498">Xml Sitemaps</Parent>
    <Path>/XmlSitemaps/sitemapDefaultXmlsitemapxml</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-08-02T20:18:19</CreateDate>
    <NodeName Default="sitemap--default--xmlsitemap.xml" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ko0nkjg2/sitemap-default-xmlsitemap.xml]]></Value>
    </umbracoFile>
  </Properties>
</Media>