<?xml version="1.0" encoding="utf-8"?>
<Media Key="480c83cc-2353-41d0-b420-ad06a9334498" Alias="Xml Sitemaps" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/XmlSitemaps</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-08-02T20:18:19</CreateDate>
    <NodeName Default="Xml Sitemaps" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>