<?xml version="1.0" encoding="utf-8"?>
<Media Key="81c600e5-396e-41cc-90fd-182936ad7585" Alias="sitemap--website3-dev-localhost--xmlsitemap-website3.xml" Level="2">
  <Info>
    <Parent Key="054c38cc-efd0-4798-b4ae-4bcdf12f42c3">Xml Sitemaps</Parent>
    <Path>/XmlSitemaps/sitemapWebsite3DevLocalhostXmlsitemapWebsite3xml</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-08-17T18:48:47</CreateDate>
    <NodeName Default="sitemap--website3-dev-localhost--xmlsitemap-website3.xml" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/czud0ikj/sitemap-website3-dev-localhost-xmlsitemap-website3.xml]]></Value>
    </umbracoFile>
  </Properties>
</Media>