<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf290b5d-eab6-49f0-a77b-ec85ed2be363" Alias="sitemap--website2-dev-localhost--xmlsitemap-website2.xml" Level="2">
  <Info>
    <Parent Key="738cad3a-d8c7-42bb-85e6-3aaac783c345">Xml Sitemaps</Parent>
    <Path>/XmlSitemaps/sitemapWebsite2DevLocalhostXmlsitemapWebsite2xml</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-08-10T15:15:35</CreateDate>
    <NodeName Default="sitemap--website2-dev-localhost--xmlsitemap-website2.xml" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vzrneh2r/sitemap-website2-dev-localhost-xmlsitemap-website2.xml]]></Value>
    </umbracoFile>
  </Properties>
</Media>