<?xml version="1.0" encoding="utf-8"?>
<Media Key="316d27a5-d77a-4323-9a87-60df9750af26" Alias="sitemap--website1-dev-localhost--custom-sitemap.xml" Level="2">
  <Info>
    <Parent Key="054c38cc-efd0-4798-b4ae-4bcdf12f42c3">Xml Sitemaps</Parent>
    <Path>/XmlSitemaps/sitemapWebsite1DevLocalhostCustomSitemapxml</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-08-17T18:48:48</CreateDate>
    <NodeName Default="sitemap--website1-dev-localhost--custom-sitemap.xml" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kzhjnek3/sitemap-website1-dev-localhost-custom-sitemap.xml]]></Value>
    </umbracoFile>
  </Properties>
</Media>