<?xml version="1.0" encoding="utf-8"?>
<Media Key="01097bbf-8ea9-4e8e-952c-a46e150ff716" Alias="sitemap--website2-dev-localhost--xmlsitemap-website2.xml" Level="2">
  <Info>
    <Parent Key="054c38cc-efd0-4798-b4ae-4bcdf12f42c3">Xml Sitemaps</Parent>
    <Path>/XmlSitemaps/sitemapWebsite2DevLocalhostXmlsitemapWebsite2xml</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-08-17T18:48:47</CreateDate>
    <NodeName Default="sitemap--website2-dev-localhost--xmlsitemap-website2.xml" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jqjpfimo/sitemap-website2-dev-localhost-xmlsitemap-website2.xml]]></Value>
    </umbracoFile>
  </Properties>
</Media>