<?xml version="1.0" encoding="utf-8"?>
<Media Key="46f30161-d433-4fcc-8072-b1518afea728" Alias="sitemap-index--localhost--xmlsitemapindex2.xml" Level="2">
  <Info>
    <Parent Key="738cad3a-d8c7-42bb-85e6-3aaac783c345">Xml Sitemaps</Parent>
    <Path>/XmlSitemaps/sitemapIndexLocalhostXmlsitemapindex2xml</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-08-10T15:15:35</CreateDate>
    <NodeName Default="sitemap-index--localhost--xmlsitemapindex2.xml" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sjubrzqu/sitemap-index-localhost-xmlsitemapindex2.xml]]></Value>
    </umbracoFile>
  </Properties>
</Media>