<?xml version="1.0" encoding="utf-8"?>
<Media Key="c8de7d22-8919-42a7-aa1e-39f31c21c428" Alias="sitemap-index--website1-dev-localhost--xmlsitemapindex.xml" Level="2">
  <Info>
    <Parent Key="054c38cc-efd0-4798-b4ae-4bcdf12f42c3">Xml Sitemaps</Parent>
    <Path>/XmlSitemaps/sitemapIndexWebsite1DevLocalhostXmlsitemapindexxml</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-08-17T18:48:48</CreateDate>
    <NodeName Default="sitemap-index--website1-dev-localhost--xmlsitemapindex.xml" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0ekdk0b4/sitemap-index-website1-dev-localhost-xmlsitemapindex.xml]]></Value>
    </umbracoFile>
  </Properties>
</Media>