<?xml version="1.0" encoding="utf-8"?>
<Media Key="e821da54-81f4-49fe-b334-ed1f0777385f" Alias="sitemap-index--localhost--xmlsitemapindex1.xml" Level="2">
  <Info>
    <Parent Key="738cad3a-d8c7-42bb-85e6-3aaac783c345">Xml Sitemaps</Parent>
    <Path>/XmlSitemaps/sitemapIndexLocalhostXmlsitemapindex1xml</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-08-10T15:15:35</CreateDate>
    <NodeName Default="sitemap-index--localhost--xmlsitemapindex1.xml" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/u4znusgt/sitemap-index-localhost-xmlsitemapindex1.xml]]></Value>
    </umbracoFile>
  </Properties>
</Media>