<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d71bfa2-e9cc-4783-bdcb-a9df568e2527" Alias="sitemap--website1-dev-localhost--xmlsitemap-host-default-subset-2.xml" Level="2">
  <Info>
    <Parent Key="738cad3a-d8c7-42bb-85e6-3aaac783c345">Xml Sitemaps</Parent>
    <Path>/XmlSitemaps/sitemapWebsite1DevLocalhostXmlsitemapHostDefaultSubset2xml</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-08-10T15:15:35</CreateDate>
    <NodeName Default="sitemap--website1-dev-localhost--xmlsitemap-host-default-subset-2.xml" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/khljulpl/sitemap-website1-dev-localhost-xmlsitemap-host-default-subset-2.xml]]></Value>
    </umbracoFile>
  </Properties>
</Media>