<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c60f2c2-925d-4857-9d1e-5798482bd6c9" Alias="sitemap--website3-dev-localhost--xmlsitemap-website3.xml" Level="2">
  <Info>
    <Parent Key="738cad3a-d8c7-42bb-85e6-3aaac783c345">Xml Sitemaps</Parent>
    <Path>/XmlSitemaps/sitemapWebsite3DevLocalhostXmlsitemapWebsite3xml</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-08-10T15:15:35</CreateDate>
    <NodeName Default="sitemap--website3-dev-localhost--xmlsitemap-website3.xml" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ggnjxpd0/sitemap-website3-dev-localhost-xmlsitemap-website3.xml]]></Value>
    </umbracoFile>
  </Properties>
</Media>