<?xml version="1.0" encoding="utf-8"?>
<Media Key="6496ad3f-98d6-4f50-a7bd-9be8512e8677" Alias="sitemap--website1-dev-localhost--xmlsitemap-host-default.xml" Level="2">
  <Info>
    <Parent Key="738cad3a-d8c7-42bb-85e6-3aaac783c345">Xml Sitemaps</Parent>
    <Path>/XmlSitemaps/sitemapWebsite1DevLocalhostXmlsitemapHostDefaultxml</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-08-05T00:51:14</CreateDate>
    <NodeName Default="sitemap--website1-dev-localhost--xmlsitemap-host-default.xml" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ztch1rhr/sitemap-website1-dev-localhost-xmlsitemap-host-default.xml]]></Value>
    </umbracoFile>
  </Properties>
</Media>