<?xml version="1.0" encoding="utf-8"?>
<Media Key="c61c47af-1e0d-424a-bcb4-8d42e9c2cee0" Alias="sitemap-index--localhost--xmlsitemapindex.xml" Level="2">
  <Info>
    <Parent Key="738cad3a-d8c7-42bb-85e6-3aaac783c345">Xml Sitemaps</Parent>
    <Path>/XmlSitemaps/sitemapIndexLocalhostXmlsitemapindexxml</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-08-10T15:15:35</CreateDate>
    <NodeName Default="sitemap-index--localhost--xmlsitemapindex.xml" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lqxpozrk/sitemap-index-localhost-xmlsitemapindex.xml]]></Value>
    </umbracoFile>
  </Properties>
</Media>