<?xml version="1.0" encoding="utf-8"?>
<Media Key="12fb96bf-8a38-42df-b0e2-440b4fee7164" Alias="sitemap--localhost--xmlsitemap-host-default.xml" Level="2">
  <Info>
    <Parent Key="df34fc7a-5677-49ff-9897-71d0ca2fdc16">Xml Sitemaps</Parent>
    <Path>/XmlSitemaps/sitemapLocalhostXmlsitemapHostDefaultxml</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-07-31T18:45:54</CreateDate>
    <NodeName Default="sitemap--localhost--xmlsitemap-host-default.xml" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jt5abmq5/sitemap-localhost-xmlsitemap-host-default.xml]]></Value>
    </umbracoFile>
  </Properties>
</Media>