<?xml version="1.0" encoding="utf-8"?>
<Media Key="738cad3a-d8c7-42bb-85e6-3aaac783c345" Alias="Xml Sitemaps" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/XmlSitemaps</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-08-05T00:51:14</CreateDate>
    <NodeName Default="Xml Sitemaps" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>