<?xml version="1.0" encoding="utf-8"?>
<Domain Key="50985ef2-0000-0000-0000-000000000000" Alias="https://many-3-site.dev.localhost:4443/nyheder/">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>da</Language>
    <Root Key="c980cc00-b4f4-4b89-ac7b-d65972a927ab">/Site 3 / Nyheder</Root>
  </Info>
</Domain>