<?xml version="1.0" encoding="utf-8"?>
<Domain Key="81bc9002-0000-0000-0000-000000000000" Alias="https://website3.dev.localhost/arrangementer/">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>da</Language>
    <Root Key="c30ee450-0ce7-422c-849e-e2250de1dda4">/Site3 / Arrangementer</Root>
  </Info>
</Domain>