<?xml version="1.0" encoding="utf-8"?>
<Domain Key="e29c81ce-0000-0000-0000-000000000000" Alias="https://website1.dev.localhost/subsite/">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>da</Language>
    <Root Key="62d21c7f-17d1-4eb0-b18e-03ae874401e7">/Site 1 Sub Site 1</Root>
  </Info>
</Domain>