<?xml version="1.0" encoding="utf-8"?>
<Domain Key="ce21f6d7-0000-0000-0000-000000000000" Alias="https://many-2-site.dev.localhost:4443/en/">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en</Language>
    <Root Key="377a49b8-0ff6-48d5-a393-1e0684701db0">/Site 2</Root>
  </Info>
</Domain>