<?xml version="1.0" encoding="utf-8"?>
<Domain Key="32af00bc-0000-0000-0000-000000000000" Alias="https://many-3-site.dev.localhost:4443/en/">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en</Language>
    <Root Key="07696dec-97a8-463a-b4f4-405fb979ce21">/Site 3</Root>
  </Info>
</Domain>