<?xml version="1.0" encoding="utf-8"?>
<Content Key="9b584b21-c590-4266-a268-1fd72ba472e5" Alias="Alenestående 1" Level="4">
  <Info>
    <Parent Key="05723326-b435-4842-81f6-fde94ed76abf">Sektion 1</Parent>
    <Path>/Site1/Omraade1/Sektion1/Alenestaaende1</Path>
    <Trashed>false</Trashed>
    <ContentType>textPage</ContentType>
    <CreateDate>2026-08-18T06:38:15</CreateDate>
    <NodeName Default="Alenestående 1">
      <Name Culture="da">Alenestående 1</Name>
      <Name Culture="en">Stand-alone 1</Name>
      <Name Culture="pl">Wybitne 1</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">false</Published>
      <Published Culture="pl">false</Published>
    </Published>
    <Schedule />
    <Template Key="512969e1-3368-48e5-a4c5-f70572068d9c">pageTemplate</Template>
  </Info>
  <Properties>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>