<?xml version="1.0" encoding="utf-8"?>
<Content Key="19a52014-811c-49ea-9310-60e1df3ad738" Alias="Alenestående 1" Level="4">
  <Info>
    <Parent Key="59894521-391c-4210-acad-47dbe80fa206">Sektion 1</Parent>
    <Path>/Site1/Omraade2/Sektion1/Alenestaaende1</Path>
    <Trashed>false</Trashed>
    <ContentType>textPage</ContentType>
    <CreateDate>2026-08-18T15:23:19</CreateDate>
    <NodeName Default="Alenestående 1">
      <Name Culture="da">Alenestående 1</Name>
      <Name Culture="en">Stand-alone 1</Name>
      <Name Culture="pl">Wybitne 1</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">false</Published>
      <Published Culture="pl">false</Published>
    </Published>
    <Schedule />
    <Template Key="512969e1-3368-48e5-a4c5-f70572068d9c">pageTemplate</Template>
  </Info>
  <Properties>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>