<?xml version="1.0" encoding="utf-8"?>
<Content Key="f3d0a555-a284-41d5-8b24-76d875e39c3e" Alias="Område 1" Level="2">
  <Info>
    <Parent Key="b04a32de-a3c4-4946-9ce4-efb9bbedb396">Site 1</Parent>
    <Path>/Site1/Omraade1</Path>
    <Trashed>false</Trashed>
    <ContentType>textPage</ContentType>
    <CreateDate>2026-07-06T12:16:22</CreateDate>
    <NodeName Default="Område 1">
      <Name Culture="da">Område 1</Name>
      <Name Culture="en">Area 1</Name>
      <Name Culture="pl">Sekcja 1</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
      <Published Culture="pl">true</Published>
    </Published>
    <Schedule />
    <Template Key="512969e1-3368-48e5-a4c5-f70572068d9c">pageTemplate</Template>
  </Info>
  <Properties>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>