<?xml version="1.0" encoding="utf-8"?>
<Content Key="05723326-b435-4842-81f6-fde94ed76abf" Alias="Sektion 1" Level="3">
  <Info>
    <Parent Key="f3d0a555-a284-41d5-8b24-76d875e39c3e">Område</Parent>
    <Path>/Site1/Omraade/Sektion1</Path>
    <Trashed>false</Trashed>
    <ContentType>textPage</ContentType>
    <CreateDate>2026-08-18T06:37:04</CreateDate>
    <NodeName Default="Sektion 1">
      <Name Culture="da">Sektion 1</Name>
      <Name Culture="en">Section 1</Name>
      <Name Culture="pl">Sekcja 1</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">false</Published>
      <Published Culture="pl">false</Published>
    </Published>
    <Schedule />
    <Template Key="512969e1-3368-48e5-a4c5-f70572068d9c">pageTemplate</Template>
  </Info>
  <Properties>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>