<?xml version="1.0" encoding="utf-8"?>
<Content Key="b04a32de-a3c4-4946-9ce4-efb9bbedb396" Alias="Site 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Site1</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2026-07-06T12:16:22</CreateDate>
    <NodeName Default="Site 1">
      <Name Culture="da">Site 1</Name>
      <Name Culture="en">Site 1</Name>
      <Name Culture="pl">Site 1</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="false">
      <Published Culture="da">false</Published>
      <Published Culture="en">true</Published>
      <Published Culture="pl">true</Published>
    </Published>
    <Schedule />
    <Template Key="512969e1-3368-48e5-a4c5-f70572068d9c">pageTemplate</Template>
  </Info>
  <Properties>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>