<?xml version="1.0" encoding="utf-8"?>
<Content Key="c980cc00-b4f4-4b89-ac7b-d65972a927ab" Alias="Site 3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Site3</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2026-08-04T21:45:02</CreateDate>
    <NodeName Default="Site 3">
      <Name Culture="da">Site 3</Name>
      <Name Culture="en">Site 3</Name>
      <Name Culture="pl">Site 3</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
      <Published Culture="pl">true</Published>
    </Published>
    <Schedule />
    <Template Key="512969e1-3368-48e5-a4c5-f70572068d9c">pageTemplate</Template>
  </Info>
  <Properties>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>