<?xml version="1.0" encoding="utf-8"?>
<Content Key="da90584a-387e-4847-8469-af68870fa54f" Alias="Tekst side" Level="2">
  <Info>
    <Parent Key="f1a3b7b8-7704-4cb2-9345-f84ae0bc059a">SIte 2</Parent>
    <Path>/SIte2/TekstSide</Path>
    <Trashed>false</Trashed>
    <ContentType>textPage</ContentType>
    <CreateDate>2026-07-06T12:19:32</CreateDate>
    <NodeName Default="Tekst side">
      <Name Culture="da">Tekst side</Name>
      <Name Culture="en">Text page</Name>
      <Name Culture="pl">Pl Page 1</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
      <Published Culture="pl">true</Published>
    </Published>
    <Schedule />
    <Template Key="512969e1-3368-48e5-a4c5-f70572068d9c">pageTemplate</Template>
  </Info>
  <Properties>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>