<?xml version="1.0" encoding="utf-8"?>
<Content Key="db15cf39-f8f1-4c87-83b3-098fd153218b" Alias="Test side 2" Level="4">
  <Info>
    <Parent Key="7e8e13bd-7072-41d6-bce3-1c8318c544b4">Teskst under side 2</Parent>
    <Path>/Site1/TekstSide/TeskstUnderSide2/TestSide2</Path>
    <Trashed>false</Trashed>
    <ContentType>textPage</ContentType>
    <CreateDate>2026-07-13T11:27:40</CreateDate>
    <NodeName Default="Test side 2">
      <Name Culture="da">Test side 2</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="false">
      <Published Culture="da">false</Published>
    </Published>
    <Schedule />
    <Template Key="512969e1-3368-48e5-a4c5-f70572068d9c">pageTemplate</Template>
  </Info>
  <Properties>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>