<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a9889601-f93c-4cba-8a01-03e4f324071e" Alias="textPage" Level="1">
  <Info>
    <Name>Text</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Text Page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="aebb05b9-d4ec-4aef-b146-cfc77182baa7">metaComposition</Composition>
    </Compositions>
    <DefaultTemplate>pageTemplate</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="512969e1-3368-48e5-a4c5-f70572068d9c">pageTemplate</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a9889601-f93c-4cba-8a01-03e4f324071e" SortOrder="0">textPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>