<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c3c97a1-5a55-4218-94d8-228c9ca7e6e5" Alias="Ny side 60" Level="5">
  <Info>
    <Parent Key="244dd7bb-6647-4711-8606-d48bcfcead91">Test side 0</Parent>
    <Path>/Site1/TekstSide/TeskstUnderSide1/TestSide0/NySide60</Path>
    <Trashed>false</Trashed>
    <ContentType>textPage</ContentType>
    <CreateDate>2026-07-13T11:29:10</CreateDate>
    <NodeName Default="Ny side 60">
      <Name Culture="da">Ny side 60</Name>
    </NodeName>
    <SortOrder>60</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
    </Published>
    <Schedule />
    <Template Key="512969e1-3368-48e5-a4c5-f70572068d9c">pageTemplate</Template>
  </Info>
  <Properties>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>