<?xml version="1.0" encoding="utf-8"?>
<Content Key="a0ca4cff-6627-4247-bfcf-47a3d7141ea0" Alias="Alenestående 2" Level="3">
  <Info>
    <Parent Key="f3d0a555-a284-41d5-8b24-76d875e39c3e">Område 1</Parent>
    <Path>/Site1/Omraade1/Alenestaaende2</Path>
    <Trashed>false</Trashed>
    <ContentType>textPage</ContentType>
    <CreateDate>2026-07-18T11:23:51</CreateDate>
    <NodeName Default="Alenestående 2">
      <Name Culture="da">Alenestående 2</Name>
      <Name Culture="en">Stand-alone 2</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template Key="512969e1-3368-48e5-a4c5-f70572068d9c">pageTemplate</Template>
  </Info>
  <Properties>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>