<?xml version="1.0" encoding="utf-8"?>
<Media Key="291d0fe3-99f9-4d7e-8b21-11d254d57aea" Alias="Xml Sitemaps" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/XmlSitemaps</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-08-04T18:14:51</CreateDate>
    <NodeName Default="Xml Sitemaps" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>