<?xml version="1.0" encoding="utf-8"?>
<Media Key="af4b7138-941e-42ab-a1dd-95359acb7605" Alias="sitemap--website1-dev-localhost--xmlsitemap-host-default-subset-2.xml" Level="2">
  <Info>
    <Parent Key="eac0afcd-8311-43ee-9538-f2f3b7c58016">Xml Sitemaps</Parent>
    <Path>/XmlSitemaps/sitemapWebsite1DevLocalhostXmlsitemapHostDefaultSubset2xml</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-08-14T13:59:27</CreateDate>
    <NodeName Default="sitemap--website1-dev-localhost--xmlsitemap-host-default-subset-2.xml" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zmmladzz/sitemap-website1-dev-localhost-xmlsitemap-host-default-subset-2.xml]]></Value>
    </umbracoFile>
  </Properties>
</Media>