<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f3d7aae-ecef-4a28-b247-fd72617e6dcc" Alias="sitemap--website1-dev-localhost--xmlsitemap-host-default.xml" Level="2">
  <Info>
    <Parent Key="eac0afcd-8311-43ee-9538-f2f3b7c58016">Xml Sitemaps</Parent>
    <Path>/XmlSitemaps/sitemapWebsite1DevLocalhostXmlsitemapHostDefaultxml</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-08-14T13:59:27</CreateDate>
    <NodeName Default="sitemap--website1-dev-localhost--xmlsitemap-host-default.xml" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lujmn14i/sitemap-website1-dev-localhost-xmlsitemap-host-default.xml]]></Value>
    </umbracoFile>
  </Properties>
</Media>