<?xml version="1.0" encoding="utf-8"?>
<Media Key="f86f2a47-4575-4610-ab59-2db05853b3f1" Alias="Xml Sitemaps" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/XmlSitemaps</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-08-04T16:45:32</CreateDate>
    <NodeName Default="Xml Sitemaps" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>