<?xml version="1.0" encoding="utf-8"?>
<Media Key="eac0afcd-8311-43ee-9538-f2f3b7c58016" Alias="Xml Sitemaps" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/XmlSitemaps</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-08-14T13:59:27</CreateDate>
    <NodeName Default="Xml Sitemaps" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>